.app-container {
  height: fit-content;
}

body {
  background-color: #011728;
  font-family: "Noto Sans";
}

.flex {
  display: flex;
}

.j-center {
  justify-content: center;
}
.j-space {
  justify-content: space-between;
}
/*Containers */
.center-container {
  display: block;
  align-items: center;
}
/*Sizing/Visibility*/

.shrink {
  transform: scale(1, 0.75);
}

.gone {
  display: none;
}
/* Fonts */

@font-face {
  font-family: "Noto Sans";
  src: url("./fonts/static/NotoSans-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

.t-center {
  text-align: center;
}
.col {
  flex: 1;
}
